node_modules/
*.DS_Store
.DS_Store
doc/
template/
example/
karma.conf.js
test/
mocha.opts
Gruntfile.js
webpack.*.js
.travis.yml
packages
release/
demo/
coverage/
dist/report.html
rollup-plugin-visualizer/
outjs/
.scene_cache
*.mp3
*.mp4