.target {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    line-height: 100px;
    text-align: center;;
    border: 1px solid #333;
    box-sizing: border-box;
}
