html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
html:has(.no-relative), body:has(.no-relative) {
    margin: 8px;
    padding: 8px;
    border: 8px solid red;
}
.description {
    padding: 10px;
}
.root {
    position: relative;
}
.container {
    position: relative;
    margin-top: 50px;
}
.will-change-container {
    padding-left: 100px;
    padding-top: 100px;
    will-change: transform;
}
.will-change-target {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ee8;
    color: #333;
    font-weight: bold;
    border: 1px solid #333;
    box-sizing: border-box;
}
.target {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 100px;
    line-height: 100px;
    text-align: center;
    background: #ee8;
    color: #333;
    font-weight: bold;
    border: 1px solid #333;
    box-sizing: border-box;
}

.target1 {
    left: 120px;
    top: 120px;
}

.target2 {
    left: 300px;
    top: 140px;
}

.target3 {
    left: 180px;
    top: 250px;
}

.nested {
    position: absolute;
    border: 4px solid #ccc;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 70px;
    color: #333;
    /* box-sizing: border-box; */
}

.nested.first {
    top: 150px;
}

.nested.rotate {
    transform-origin: 0 0;
    transform: rotate(-30deg);
}

.nested.scale {
    transform: scale(1.5, 1.5);
}

.nested .target {
    top: 50px;
    left: 50px
}


/* pos guidelines */
.moveable-normal.red {
    background: red!important;
}
/* gap guidelines */
.moveable-gap.red {
    background: red!important;
}
/* When snapped to an element in elementGuidelines */
.moveable-bold.red {
    background: red!important;
}
/* A dashed line between target and element */
.moveable-dashed.red {
    border-top-color: red!important;
    border-left-color: red!important;
}

/* pos guidelines */
.moveable-normal.green {
    background: green!important;
}
/* gap guidelines */
.moveable-gap.green {
    background: green!important;
}
/* When snapped to an element in elementGuidelines */
.moveable-bold.green {
    background: green!important;
}
/* A dashed line between target and element */
.moveable-dashed.green {
    border-top-color: green!important;
    border-left-color: green!important;
}
