.App {
  text-align: center;
  transform-origin: 30% 50%;
  /* transform: scaleX(1) translateY(30px); */
}
.App * {
  position: relative;
  transform-origin: 50% 50%;
}
.App-logo {
  position: relative;
  /* animation: App-logo-spin infinite 20s linear; */
  /* transform: rotate(18deg); */
  width: 300px;
  height: 200px;
}
.App code {
  display: inline-block;
}
img {
  background: #f55;
  transform-origin: 0px 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* transform: rotate(-9deg); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
    position: relative;
    width: 120px;
    height: 120px;
}
.box span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-align: center;
    background: #000;
    color: #fff;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.rCSnba4d7 .moveable-control {
    width: 16px!important;
    height: 16px!important;
    margin-top: -8px;
    margin-left: -8px;
}
