.App {
    /* text-align: center; */
    transform-origin: 0% 0%;
    /* transform: scaleX(1) translateY(30px); */
}

.App * {
    position: relative;
    transform-origin: 50% 50%;
    /* transform-origin: 20% 20%; */
    /* transform-origin: 0% 0%; */
    box-sizing: border-box;
    top: 100px;
}

.App-logo {
    position: relative;
    /* animation: App-logo-spin infinite 20s linear; */
    /* transform: rotate(18deg); */
    left: calc(50% - 150px);
    top: calc(50% - 100px);
    width: 300px;
    height: 200px;
    /* transform-origin: 0% 0%!important; */
}

.App code {
    display: inline-block;
}

img {
    background: #f55;
    transform-origin: 0px 0px;
}

.App-header {
    /* position: static!important; */
    position: relative;
    background-color: #282c34;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    /* transform: rotate(-9deg); */
    color: white;
}

.App-link {
    color: #61dafb;
}

.App svg * {
    transform-origin: 20% 50%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.box.box2 {
    width: 120px;
    height: 120px;
}
.box2 span {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box {
    position: relative;
    width: 120px;
    height: 150px;
}

.box span {
    position: absolute;
    font-size: 60px;
    text-align: center;
    background: #fff;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    /* display: inline-block; */
}

.box span:nth-child(2) {
    top: 40px;
    left: -10px;
}

.box span:nth-child(3) {
    top: 90px;
    left: 80px;
}

.rCSnba4d7 .moveable-control {
    width: 16px!important;
    height: 16px!important;
    margin-top: -8px;
    margin-left: -8px;
}

.emo {
    position: absolute;
    width: 200px;
    top: 300px;
    left: 50%;

}
.emo img {
    width: 100%;
}
