.App {
    /* text-align: center; */
    transform-origin: 0% 0%;
    /* transform: scaleX(1) translateY(30px); */
    top: 100px;
    position: relative;
    /* transform: scale(0.75); */
}

.App * {
    position: relative;
    transform-origin: 50% 50%;
    /* transform-origin: 20% 20%; */
    /* transform-origin: 0% 0%; */
    box-sizing: border-box;
}
.no-radius .moveable-control.moveable-direction {
    border-radius: 0;
}
[data-target]:nth-child(2n) {
    border: 10px solid black;
}

.App-logo {
    position: absolute;
    /* animation: App-logo-spin infinite 20s linear; */
    /* transform: rotate(18deg); */
    left: 300px;
    top: 300px;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    box-sizing: content-box;
    /* transform-origin: 0% 0%!important; */
}

.App code {
    display: inline-block;
}

img {
    background: #f55;
    transform-origin: 0px 0px;
}
#con {
    position: relative;
    overflow: scroll;
    top: 100px;
    height: 800px;
    border: 1px solid #f55;
    transform: scale(0.7) rotate(30deg);
}
.guides {
    position: absolute;
    width: 100%;
    top: -30px;
    height: 30px;
}
.guides.horizontal {
    width: 100%;
    top: -30px;
    height: 30px;
}
.guides.vertical {
    width: 30px;
    height: 100%;
    left: -30px;
}
.App {
    /* overflow: scroll;
    height: 600px; */
}
.App-header {
    position: static!important;
    /* position: relative; */
    background-color: #282c34;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    /* transform: scale(0.5); */
    color: white;
}

.App-link {
    color: #61dafb;
}
.App svg {
    position: absolute;
    top: 100px;
    left: 100px;
    /* display: none; */
}
.App svg * {
    transform-origin: 20% 50%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.box.box2 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 200px;
    left: 0;
}
.box.box23 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 200px;
    left: 200px;
}
.box.box24 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 200px;
    left: 450px;
}
.box2 span {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box {
    position: relative;
    width: 120px;
    height: 150px;
}

.box span {
    position: absolute;
    font-size: 60px;
    text-align: center;
    background: #fff;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    /* display: inline-block; */
}

.box span:nth-child(2) {
    top: 40px;
    left: -10px;
}

.box span:nth-child(3) {
    top: 90px;
    left: 80px;
}

.rCSnba4d7 .moveable-control {
    width: 16px!important;
    height: 16px!important;
    margin-top: -8px;
    margin-left: -8px;
}

.staticbox {
    margin-top: 20px;
    margin-left: 20px;
}
.emo {
    position: absolute;
    width: 200px;
    top: 300px;
    left: 50%;

}
.emo img {
    width: 100%;
}

.box.box23 {
    border-left-width: 0px;
    border-right-width: 0px;
    word-break: break-all;
    height: auto;
}
.box.box23 span {
    position: relative;
}
.moveable-area-pieces .moveable-area-piece {
    background: rgba(255, 150, 150, 0.5);
}

.moveable-area-pieces .moveable-area-piece:nth-child(2) {
    background: rgba(150, 250, 150, 0.5);
}
