.App {
  text-align: center;
  transform-origin: 30% 50%;
  transform: scaleX(-0.8) translateY(30px);
}

.App-logo {
  position: relative;
  /* animation: App-logo-spin infinite 20s linear; */
  transform: rotate(18deg);
  height: 40vmin;
}
.App code {
  display: inline-block;
}
img {
  background: #f55;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  transform: rotate(-9deg);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
