.editor, .view {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.view {
    left: 30px;
    top: 30px;
}
.controls {
    position: relative;
    background: #444;
    width: 100%;
    min-height: 35px;
    padding-left: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
}
.control {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
}
.control span {
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    padding-right: 8px;
}
.control input {
    color: #fff;
    background: #333;
    border: 0;
    border-radius: 3px;
    width: 60px;
    height: 20px;
    box-sizing: border-box;
    padding-left: 8px;
}
.rulers {
    position: relative;
    width: 30px;
    height: 30px;
    background: #444;
    box-sizing: border-box;
    /* border-bottom: 1px solid #777;
    border-right: 1px solid #777; */
}
.ruler {
    position: absolute;
    background: #444;
    overflow: hidden;
}
.ruler.horizontal {
    width: calc(100vw - 30px);
    height: 30px;
    left: 30px;
    top: 0px;
}
.ruler.vertical {
    top: 30px;
    left: 0px;
    width: 30px;
    height: calc(100vh - 30px);
    min-height: 700px;
}
.divisions {
    position: absolute;
    font-size: 0;
    pointer-events: none;
    white-space: nowrap;
}
.division {
    position: relative;
    background: #777;
}
.division:nth-child(10n + 1):before {
    position: absolute;
    content: attr(data-px);
    color: #fff;
    font-size: 10px;
}

.ruler.horizontal .divisions {
    bottom: 0;
}
.ruler.horizontal .division {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin-left: 4px;
}
.ruler.horizontal .division:first-child {
    margin-left: 0px;
}
.ruler.horizontal .division:nth-child(2n + 2) {
    height: 7px;
}
.ruler.horizontal .division:nth-child(10n + 1) {
    height: 30px;
}
.ruler.horizontal .division:nth-child(10n + 1):before {
    bottom: 15px;
    left: 5px;
}

.ruler.vertical .divisions {
    right: 0;
}
.ruler.vertical .division {
    display: block;
    width: 10px;
    height: 1px;
    margin-top: 4px;
    float: right;
    clear: both;
}
.ruler.vertical .division:first-child {
    margin-top: 0px;
}
.ruler.vertical .division:nth-child(2n + 2) {
    width: 7px;
}

.ruler.vertical .division:nth-child(10n + 1) {
    width: 30px;
}

.ruler.vertical .division:nth-child(10n + 1):before {
    transform-origin: 0% 100%;
    left: 15px;
    bottom: 0px;
    transform: rotate(-90deg) translate(50%, 0%) ;
}
.guidelines {
    position: absolute;
    top: 0;
    left: 0;
}
.guideline {
    position: absolute;
    background: #f33;
    z-index: 2;
}

.guideline.dragging:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.guideline.horizontal {
    width: 100vw;
    height: 1px;
    cursor: row-resize;
}

.guideline.vertical {
    width: 1px;
    height: 100vh;
    cursor: col-resize;
}
.mobile .guideline.horizontal {
    transform: scale(1, 2);
}
.mobile .guideline.vertical {
    transform: scale(2, 1);
}
.guideline.horizontal:before {
    height: 20px;
}

.guideline.vertical:before {
    width: 20px;
}

.label {
    position: fixed;
    top: 0;
    left: 0;
    padding: 3px 6px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    display: none;
    transform: translate(-100%, -100%);
}




.target {
    position: absolute;
    margin: 0;
    z-index: 1;
    /* left: calc(50% - 125px);
    top: calc(50% - 250px); */
}
